{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Sign In / Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ request.path }}" method="POST" class="">
        {{ form.csrf_token }}
        <!-- Alert messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %} <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    <div class="flash alert alert-{{category}} alert-dismissible fade show" role="alert"> {{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Login/Register: Username input -->
        {{ form.username.label }} {{ form.username(class_="form-control", placeholder="Username") }}
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
        
        <!-- Register: Email input -->
        {% if request.path == '/auth/register' %}
            <p> {{ form.email.label }} {{ form.email(class_="form-control",placeholder="Email")}}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %} </p>
        {% endif %}

        <!-- Login/Register: Password input -->
        <p> {{ form.password.label }} {{ form.password(class_="form-control",placeholder="Password")}}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %} </p>

        <!-- Login: Remember checkbox -->
        <p> {% if request.path == '/auth/login' %}
                {{ form.remember_me(class_="form-control") }} Remember Me
            {% endif %} </p>

        <!-- Register: Confirm password input -->
        {% if request.path == '/auth/register' %}
            <p> {{ form.confirm_password.label }} {{ form.confirm_password(class_="form-control", placeholder="Confirm Password") }}
            {% for error in form.confirm_password.errors %}
                {{ error }}
            {% endfor %} </p>
        {% endif %}
        
        <!-- Login/Register: Submit button -->
        <p> {{ form.submit(class_="form-control", placeholder="Submit")}} </p>

        <p> {% if request.path != '/auth/register' %}
                New here? <a href="{{url_for('auth.register')}}">Create account</a>
            {% else %}
                Already have an account? <a href="{{url_for('auth.login')}}">Login</a>
            {% endif %}
        </p>
    </form>
{% endblock %}