html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
  height: 100%;
}
  
body {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

header {
  margin-bottom: 10px;
  background: white;
}

main {
  background: white;
  padding: 3px
}

footer {
  margin-top: 10px;
  background: white;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}
  
a {
  color: #377ba8;
}
  
hr {
  border: none;
  border-top: 1px solid lightgray;
}
  
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
  
nav h1 {
  flex: auto;
  margin: 0;
}
  
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
  
nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}
  
.content {
  padding: 0 1rem 1rem;
}
  
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
  
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
  
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
  
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
  
.post > header > div:first-of-type {
  flex: auto;
}
  
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
  
.post .about {
  color: slategray;
  font-style: italic;
}
  
.post .body {
  white-space: pre-line;
}
  
.content:last-child {
  margin-bottom: 0;
}
  
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
  
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
  
.content input, .content textarea {
  margin-bottom: 1em;
}
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }

  /* ---[ Base ]--- */

  /* Brand Logo */
  #brand-logo-container {
    max-width: 100%;
  }

  #brand-logo-wrapper {
    max-width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: thick;
  }
  /* Horizontal align center: https://stackoverflow.com/questions/15376634/how-can-i-center-a-div-within-another-div */

  #brand-logo-container a img {
    width: 100%;
  }

  /* SVG Draw*/
  .svg-icons {
    display: none;
  }

  /* ---[ Dashboard ]--- */
  #members-container {
    background-color: #dddddd;
    overflow: auto;
  }

  #members-wrapper {
    margin: 10px 20px 10px 20px;
  }

  /* ---[ Members list ]--- */

  .member-list__container {
    background-color: #275ec4;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: auto;
  }

  .member-list__wrapper {
    display: flex;
    margin: 5px 5px 5px 5px;
  }

  .member-list__avatar {
    background-color: aqua;
    width: 25%;
    max-height: 100%;
  }

  .member-list__bio {
    width: 25%;
  }

  /* https://github.com/w3c/csswg-drafts/issues/1008 */
  .member-list__bio h3, .member-list__bio h4{
    margin: 0;
    color: #333333;
  }

  /* Vertical align: http://phrogz.net/CSS/vertical-align/index.html 
     Vertical centering a div inside another div: https://stackoverflow.com/questions/6490252/vertically-centering-a-div-inside-another-div*/
  .member-list__info{
    width: 25%;
    position: relative;
  }

  .member-list__info span{
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .member-list__settings {
    background-color: ivory;
    width: 25%;
    display: inline-block;
  }

  .member-list__settings ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .member-list__settings ul li{
    display: inline;
  }

  /* ---[ Members card ]--- */

  .member-card__container {
    background-color: #d8d8d8;
    padding: 2px;
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
  }

  .member-card__wrapper {
    display: block;
    margin: 5px 5px 5px 5px;
    text-align: center;
  }

  .member-card__avatar {
    background-color: aqua;
    display: block;
    height: 100px;
  }

  .member-card__bio {
    display: block;
  }

  /* https://github.com/w3c/csswg-drafts/issues/1008 */
  .member-card__bio h3{
    color: #333333;
  }

  .member-card__bio h4{
    color: #555555;
  }

  /* Vertical align: http://phrogz.net/CSS/vertical-align/index.html 
      Vertical centering a div inside another div: https://stackoverflow.com/questions/6490252/vertically-centering-a-div-inside-another-div*/
  .member-card__info{
    display: inline-block;
    padding: 1px;
  }

  .member-card__info span{
    top: 50%;
  }

  .member-card__authorized {
    background-color: #01bd01;
    padding: 5px 5px 5px 5px;
    border: 2px solid #029e02;
    color: white;
  }

  /* ---[ About Us ]--- */
  .card-container {
    width: 180px;
    height: 300px;

    border: solid 1px orange;
    border-radius: 5%;
  }

  .card-wrapper {
    text-align: center;
  }

  .card-wrapper__social {
    display: inline-flex;
  }

  .card-wrapper__social ul li{
    display: inline-flex;
  }

/* ==== [ COMPONENTS ] ==== */
/* # Pulsing Button: https://codepen.io/FlorinPop17/pen/drJJzK */
.blobs-container {
	display: flex;
}

.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 100px;
	width: 100px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

.blob.orange {
	background: rgba(255, 121, 63, 1);
	box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
	animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}