{% extends 'base.html' %}

{% block header %} {% endblock %}

{% block content %}
    <h2> Benvenuto, {{ username }}</h2>
    <a href="{{url_for('auth.logout')}}"> Log out </a>

    <h3> Membri di UniVersoMe </h3>
    <div id="members-container">
        <div id="members-wrapper">
            {% for member in members %}
            <div class="member-list__container">
                <div class="member-list__wrapper">
                    <div class="member-list__avatar"></div>
                    <div class="member-list__bio">
                        <h3> {{ member.full_name }} </h3>
                        <h4> {{ member.role }} </h4>
                    </div>
                    <div class="member-list__info">
                        <span class="member-list__authorized">
                        {% if member.authorized %}
                        Access granted
                        {% else %}
                        Access denied
                        {% endif %}
                        </span>
                    </div>
                    <div class="member-list__settings">
                        <ul>
                            <li>Info</li>
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
{% endblock %}