<!DOCTYPE html>
<html lang="it-IT">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %} - UniVersoMe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <!-- Logo -->
      {% block header %}{% endblock %}
    </header>
    <nav>
      {% block navigation %}{% endblock %}
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>
    <aside>
      {% block sidebar %}{% endblock %}
    </aside>

    <footer>
      <p>©Copyright UniVersoMe 2023. Tutti i diritti riservati.</p>
    </footer>
  </body> 
</html>